// Colors
$color-white: #FFFCF2;
$color-gray-light: #CCC5B9;
$color-gray-dark: #403D39;
$color-black: #252422;
$color-orange: #EB5E28;

// Path
//$path-fonts: 'fonts'; // path #{$path-fonts}
$path-image: '../img'; // path #{$path-image}
//$fa-font-path: "#{$path-fonts}/font-awesome";
//$icon-font-path: "#{$path-fonts}/bootstrap/";